@import "bootstrap/bootstrap";
@import "_variables";
@import "_mixins";

html {
	height: 100%;
}

body {
	min-height: 100%;
	
	display: flex;
	flex-direction: column;
}

a:focus {
	color: inherit;
	text-decoration: inherit;
}

header {
	a {
		text-decoration: none;
		color: black;
		
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
		
	.jumbotron {
		@include fixedBG($mainImage);
		margin-bottom: 0;
	}
}

header + nav {
	background: $paleGreen;
	
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
	}

	.container {
		width: 100%;
	}
	
	.nav-link {
		color: black;
		float: none;
		font-weight: 500;
		
		&:hover {
			background:	darken($paleGreen, 15%);
		}
		
		
		&.current, &.section {
			color: rgba(255, 255, 255, 0.95);
			text-overflow: clip;
			text-shadow: -1px -1px 0 rgba(darken($paleGreen, 25%), 0.66);
			
			&:hover {
				text-shadow: -1px -1px 0 rgba(darken($paleGreen, 45%), 0.66);
			}
		}
	}
}

main {
	flex-grow: 1;
	
	.container img {
		max-width: 100%;
		height: auto;
	}
}

main .jumbotron#project-header {
	background-size: cover;
	position: relative;
	background-position: center top;
	min-height: 250px;
	overflow: hidden;
	border-radius: 0.5rem;
	
	
	
	h1 {
		@include outline;
	}
	
	&.overlay {
		@include overlay(0.35);
	}

	&.img-center {
		background-position: center center;
	}
}

.card.language {
	
	.card-title {
		text-align: center;
		padding: 10px 0;
		@include outline;
	}
}

.project-info {

	figure {
		@extend .col-md-6; 
		@extend .col-lg-5; 
		float: right;
		
		@media (min-width: map-get($grid-breakpoints, md)) {
			&.first {
				float: left;
				padding-left: 0;
			}
		
			&:not(.first) {
				padding-right: 0;
			}
			
			&:after {
				clear:both;
			}
		}
	}
}

figure {
	
	
	img {
		width: 100%;
	}	
}

.modal-open {
	padding: 0 !important;
}

.figure-modal {
	padding: 0 !important;
	
	.modal-dialog {
		max-width: initial;
		width: 98%;
		height: 92%;
		padding: 0;
		
		.modal-content {
			height: 99%;
		}
	}
}

.project-holder-nav {
	height: auto;
	flex-direction: column;
	background-color: inherit;
	
	.progress-bar {
		height: 100%;
		flex-grow: 1;
		flex-basis: 0;
		border-radius: inherit;
		
		a {
			display: block;
			vertical-align: middle;
			color: white;
			@include outline(1);
			
			&:hover {
				text-decoration: none;
			}

		}
	
		@media (min-width: map-get($grid-breakpoints, md)) { 
			border-radius: 0;
		}
	
	}

	@media (min-width: map-get($grid-breakpoints, md)) { 
		flex-direction: row;
	}
}

footer {
	@include fixedBG($mainImage);
}

#project-show {
	
	header {
		background: $paleGreen;
		color: white;
		border-bottom: 2px solid black;
		
		a:not(.btn) {
			@include outline;
			color: inherit;
			
			&:hover {
				color: inherit;
			}
		}
	
		.home-link {
		    display: inline-block;
		    vertical-align: middle;
		    margin-top: .5rem;
		}
	}
	
	main {
		position: relative;
		background: $mainImage;
		
		iframe {
			position:absolute;
			width:100%;
			height:100%;
			border:none;
		}
	}
	
}