@import "variables";
@import "mixins";

html {
	height: 100%;
}

body {
	min-height: 100%;
	
	display: flex;
	flex-direction: column;
}

header {
	a {
		text-decoration: none;
		color: black;
		
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
		
	.jumbotron {
		@include fixedBG($mainImage);
		margin-bottom: 0;
	}
}

header + nav {
	background: $paleGreen;
	
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
	}

	.container {
		width: 100%;
	}
	
	.nav-link {
		color: black;
		float: none;
		font-weight: 500;
		
		&:hover {
			background:	darken($paleGreen, 15%);
		}
		
		
		&.current, &.section {
			color: rgba(255, 255, 255, 0.95);
			text-overflow: clip;
			text-shadow: -1px -1px 0 rgba(darken($paleGreen, 25%), 0.66);
			
			&:hover {
				text-shadow: -1px -1px 0 rgba(darken($paleGreen, 45%), 0.66);
			}
		}
	}
}

main {
	flex-grow: 1;
}

main .jumbotron#project-header {
	background-size: cover;
	position: relative;
	background-position: center top;
	min-height: 250px;
	
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.35);
	}
	
	h1 {
		color: white;
		text-shadow: 0 0 4px black;
	}
	
}

footer {
	@include fixedBG($mainImage);
}