# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

#silverstripe
_resampled/
/assets/_combinedfiles/
/assets/Uploads/
/assets/web.config
/assets/error-*.html
/dms-assets/
/framework/
/cms/
/install/
/silverstripe-cache/
/gridfieldextensions/
/betterbuttons/
/sortablegridfield/
/userforms/
/mysite/_configDB.php
*.orig
*.log

/themes/simple/
/better-image/
/colorpicker/
/breadcrumbnavigation/
/googleanalytics/
/googlesitemaps/
/silverstripe-trailing-slash/
/blog/
/comments/
/lumberjack/
/tagfield/
/gridfield-bulk-editing-tools/
/recaptcha/
/spamprotection/

#other
/games/

#eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/